{{>header}}
<!-- Header-->
<header class="bg-primary bg-gradient text-white">
    <div class="container px-4 text-center">
        <h1 class="fw-bolder">{{title}}</h1>
        <p class="lead">uhh..uhh did you get lost??</p>

    </div>
</header>
<!-- About section-->

<!-- Services section-->

<!-- Contact section-->

<!-- Footer-->

<!-- Bootstrap core JS-->


</body>
{{>footer}}

</html>