{{>header}}
<!-- Header-->
<header class="bg-primary bg-gradient text-white">
    <div class="container px-4 text-center">
        <h1 class="fw-bolder">Welcome to {{title}} Page</h1>
        <p class="lead">{{body}}</p>
        {{!-- <a class="btn btn-lg btn-light" href="#about">Start scrolling!</a> --}}
    </div>
</header>
<!-- About section-->

<!-- Services section-->

<!-- Contact section-->

<!-- Footer-->

<!-- Bootstrap core JS-->


</body>
{{>footer}}

</html>