{{>header}}
<!-- Header-->
<header class="bg-primary bg-gradient text-white">
    <div class="container px-4 text-center">
        <h1 class="fw-bolder">Welcome to {{title}} Page</h1>
        <p class="lead">{{body}}</p>





        {{!-- <a class="btn btn-lg btn-light" href="#about">Start scrolling!</a> --}}
    </div>
</header>

<div class="container" style="max-width: 220px;margin-top:30px;">
    <form>

        <div class="form-group">
            <label for="exampleInputPassword1">Enter the location</label>

            <input type="text" style="margin-top:16px;" class="form-control" id="exampleInputPassword1"
                placeholder="Location">
        </div>

        <button type="submit" class="btn btn-dark " style="margin-top:10px;">Submit</button>
    </form>
    <br>
    <p id="one"></p>
    <p id="two"></p>
</div>

<!-- About section-->

<!-- Services section-->

<!-- Contact section-->

<!-- Footer-->

<!-- Bootstrap core JS-->





</body>
{{>footer}}

</html>